$desk:1024px;
$table:900px;
$mobile:665px;


$white:#FFFFFF;
$grey:#999999;
$black:#000000;
$blue:#5373FD;
$brown: #333333;
$gold: #FACC15;
$slickGold:linear-gradient(135deg, #c4b474, #facc15);
$deepBlue:linear-gradient(135deg, #1E1F36 0%, #0F1021 100%);
$lighBlue:linear-gradient(135deg, #5373FD 0%, #191949 100%);
$backBLue:linear-gradient(135deg, #2b2c4d 0%, #0F1021 100%);

$RobotoSlab:'Roboto Slab', serif;
$Lucky: 'Luckiest Guy', cursive;
$serif: "PT Serif", serif;
$playFair: "Playfair Display", serif;